@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-8">
        <section>
            
        </section>
    </div>
    <div class="col-md-4"></div>
</div>
<div>
    <form action="GetDCData">
        <input type="text" name="userids" />
        <input type="text" name="fields" />
        <input type="submit" value="search" />
    </form>
</div>
